<p id="notice"><%= notice %></p>

<%= link_to 'New Artist', new_artist_path, class:"btn btn-default" %>
<br>
<div class="row">
    <% @artists.each do |artist| %>
      <div class="col-xs-3 col-md-3">
        <div class="thumbnail">
          <% if artist.picture.present? %>
            <%= link_to image_tag(artist.picture), artist %>
          <% else %>
            <%= link_to image_tag('artist.jpg'), artist %>
          <% end %>
          <p class="center">
            <%= link_to artist.name, artist %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
